<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    <link rel="stylesheet" href="static/create.css">
</head>
<body>
<h1>welcome to my blog website</h1>
<h3>start writing blog</h3>
<div class="main">
    <form action="/create" method="POST">
    <input type="text" name="title" placeholder="Title">
    <textarea name="content" placeholder="Write your blog"></textarea>
    <button type="submit">Submit</button>
</form>
</div>
</body>
</html>